<app-background></app-background>
<br>
<div class="cocktail-container" (ngOnInit)="ngOnInit()">
    <img [src]="cocktail?.strDrinkThumb" alt="Cocktail Image" class="cocktail-image">
    <div class="cocktail-info">
        <h2>{{cocktail?.strDrink}}</h2>
        <p>{{ translatedString[1] || originalString[1] }}: {{ cocktail?.strCategory}}</p>
        <p>{{cocktail?.strAlcoholic}}</p>
        <p>{{ translatedString[2] || originalString[2] }}: {{ cocktail?.strGlass}}</p>
    </div>
    <div class="cocktail-ingredients">
        <h3>{{ translatedString[3] || originalString[3] }}:</h3>
        <ul>
            <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
        </ul>
    </div>
    <br>
    <div class="cocktail-instructions">
        <h3>{{ translatedString[4] || originalString[4] }}:</h3>
        <p>{{ cocktail?.strInstructions}}</p>
        <br>
        <div *ngIf="!isGuestUser()" >{{ translatedString[5] || originalString[5] }} 
           <app-star-button  [cocktailId]="cocktailId" [user]="user"></app-star-button>
        </div>
</div>