
<div class="header">
    <button class="user-photo-button" (click)="onUserPhotoClick()">
    <img 
      *ngIf="user.ImgUrl; else defaultImage" 
      [src]="user.ImgUrl" 
      alt="User Photo" 
      class="user-photo" 
    />
    <ng-template #defaultImage>
      <div class="default-photo"></div>
    </ng-template>
    </button>
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <ul>
          <button (click)="goToSettings()">Impostazioni</button>
          <button (click)="logout()">Logout</button>
        </ul>
      </div>
</div>
<app-background></app-background>

<h3>HOME PAGE</h3>
<h1>Benvenuto {{ user.Name }} {{ user.Username }}</h1>
<p>Questa è la tua home page.</p> 
<p>cocktail del giorno: </p>
<div *ngIf="cocktail" (ngInit)="takeCocktail()">
  <h3>{{ cocktail.StrDrink }}</h3>
  <p>{{ cocktail.StrInstructions }}</p>
  <div *ngIf="cocktail.StrImageSource" class="cocktail-image">
    <img [src]="cocktail.StrImageSource" alt="{{ cocktail.StrDrink }}" />
  </div>
</div>
