
<app-background></app-background>

<h3>HOME PAGE</h3>
<h1>Benvenuto {{ user.Name }} {{ user.Username }}</h1>
<h3>cocktail del giorno: </h3>
<div *ngIf="cocktails.length > 0">
  <ul class="cocktail-list">
    <li *ngFor="let cocktail of cocktails" class="cocktail-item">
      <div *ngIf="cocktail.strDrinkThumb" class="cocktail-image">
        <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" (click)="onCocktailClick(cocktail)" class="clickable-image"/>
      </div>
      <h3>{{ cocktail.strDrink }}</h3>
    </li>
  </ul>
</div>
