<app-background></app-background>

<h1>{{translatedText[0] || stringsToTranslate[0]}}</h1>
<h3>{{translatedText[6] || stringsToTranslate[6]}} </h3>
<app-search></app-search>
<app-interactive-list
  [phrase]="translatedText[1] || stringsToTranslate[1]"
  [cocktails]="cocktails"
  [isListVisible]="isListVisible"
  [canBeFavorite]="!isGuest"
  [user]="user"
  (favoritChanged)="onFavoriteChanged()">
</app-interactive-list>
<br>
<br>
<div *ngIf="!isGuest">
  
  <app-interactive-list
  [phrase]="translatedText[4] || stringsToTranslate[4]"
  [cocktails]="recommendedCocktails"
  [isListVisible]="isListVisible"
  [canBeFavorite]="true"
  [user]="user"
  (favoritChanged)="onFavoriteChanged()">
</app-interactive-list>
<br>
<br>
<app-interactive-list
  [phrase]="translatedText[7] || stringsToTranslate[7]"
  [cocktails]="yourCocktails"
    [isListVisible]="isListVisible"
    [canBeFavorite]="true"
    [user]="user"
    (favoritChanged)="onFavoriteChanged()">
  </app-interactive-list>
  <br>
  <br>
  <app-interactive-list
    [phrase]="translatedText[2] || stringsToTranslate[2]"
    [cocktails]="favoriteCocktails"
    [isListVisible]="isListVisible"
    [canBeFavorite]="false"
    [user]="user"
    (favoritChanged)="onFavoriteChanged()">
  </app-interactive-list>
  <div *ngIf="favoriteCocktails.length === 0">
    <p>{{translatedText[3] || stringsToTranslate[3]}}</p>
  </div>
</div>
<br>
<app-create-button [text]="translatedText[5] || stringsToTranslate[5]"></app-create-button>
<br>