.red-band {
  width: 100%;
  height: 12vh; /* Altezza relativa per la banda */
  position: relative;
  background-color: rgb(20, 55, 48); /* Colore aggiornato */
  display: flex;
  justify-content: space-between; /* Spaziatura tra gli elementi */
  align-items: center; /* Allinea verticalmente al centro */
  overflow: hidden; 
}

.red-band .logo-left {
  position: absolute; /* Posiziona l'immagine a sinistra */
  left: -20px; /* Allinea l'immagine al bordo sinistro */
  top: 50%; /* Centra verticalmente l'immagine */
  transform: translateY(-50%) scaleX(-1); /* Centra l'immagine e la specchia orizzontalmente */
  height: 140%; /* Immagine grande quanto la banda */
  width: auto; /* Mantieni la proporzione */
  object-fit: cover; /* Fa in modo che l'immagine riempia il contorno */
  object-position: center; /* Centra l'immagine */
}

.red-band .logo-center {
  position: absolute; /* Posiziona l'immagine al centro */
  left: 50%; /* Sposta l'immagine al centro orizzontalmente */
  top: 70%; /* Sposta l'immagine al centro verticalmente */
  transform: translate(-50%, -50%); /* Centra esattamente l'immagine */
  height: 190%; /* Dimensione dell'immagine centrale */
  width: auto; /* Mantieni le proporzioni */
  object-fit: contain; /* Adatta l'immagine senza tagliarla */
}
  
.header {
  position: absolute;
  top: 15px;
  right: 10px;
}

.user-photo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  width: 75px; 
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-menu {
  position: absolute;
  top: 85px; /* Posiziona il menu sotto il bottone */
  right: 10px; /* Allinea il menu al lato destro */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
}

.user-photo ,
.default-photo {
  
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ccc;
  border: 4px solid #aaa;
  display: inline-block; 
}