.invisible-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

.cocktail-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
  }
  
  .cocktail-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: #f5f5f5be;
	width: 90px;
	text-align: center;
  }
  
  .clickable-image {
	cursor: pointer;
	transition: transform 0.2s ease;
  }
  
  .clickable-image:hover {
	transform: scale(1.05);
  }
  
  .cocktail-image img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
  }