<app-title></app-title>

<div class="header">
	<button class="user-photo-button" (click)="onUserPhotoClick()">
	<img 
	  *ngIf="user.imageUrl; else defaultImage" 
	  [src]="user.imageUrl" 
	  alt="User Photo" 
	  class="user-photo" 
	/>
	<ng-template #defaultImage>
	  <div class="default-photo"></div>
	</ng-template>
	</button>
	<div class="dropdown-menu" *ngIf="isDropdownOpen">
		<ul>
		  <button (click)="goToSettings()">Settings</button>
		  <button (click)="logout()">Log Out</button>
		  <app-language-button></app-language-button>
		</ul>
	  </div>
  </div>
  
  <div class="background">
	<div
	  *ngFor="let image of images"
	  class="image-wrapper"
	  [style.left]="image.left"
	  [style.animationDelay]="image.animationDelay"
	  [style.width]="image.size"
	  [style.height]="image.size"
	  [style.transform]="'rotate(' + image.rotation + ')'">
	  <img [src]="image.src" alt="Background Image" class="background-image" />
	</div>
  </div>
