<app-background></app-background>
<br>
<div class="cocktail-container">
	<br>
	<div *ngIf="open === true; else privateMode" class="pubblicMode" (click)="setOpen(open)">
		<span>Public</span>
	</div>
	<ng-template #privateMode>
		
		<div class="privateMode" (click)="setOpen(open)">
			<span>Private</span>
		</div>
	</ng-template>
	<br>
	<div *ngIf="usedefaultimg === true; else useRealPhoto" class="pubblicMode" (click)="setDefaultImg(usedefaultimg)">
		<span>Automatic image generator</span>
		<br>
	  </div>
	  
	  <ng-template #useRealPhoto>
		<div class="privateMode" (click)="setDefaultImg(usedefaultimg)">
		  <span>Upload cocktail image</span>
		</div>
	</ng-template>
	
	<div *ngIf="usedefaultimg === true;" class="color-display">
		
		<div *ngIf="mode === 'mix'" class="mix-colors" [style.background]="getGradient()"></div>
		<div *ngIf="mode === 'shake'" class="shake-color" [style.background-color]="getMixedColor()"></div>
		
		
		<div class="glass-mask">
			<img src="assets/image-glass.png" alt="Glass" class="glass-overlay" />
		</div>
		
	</div>
		<div *ngIf="usedefaultimg === true" class="mode-buttons">
			<button (click)="setMode('mix')">Mix</button>
			<button (click)="setMode('shake')">Shake</button>
		</div>
		<label *ngIf="usedefaultimg == false" class="upload-area">
			<input type="file" (change)="onFileSelected($event)" accept="image/*" />
			<img *ngIf="imgPreview" [src]="imgPreview" alt="Anteprima immagine" class="image-preview" />
			<span *ngIf="!imgPreview">Click to upload</span>
		  </label>
		
	<!-- Selezione degli ingredienti -->
	<h3>Select the ingredients:</h3>
	<div class="ingredients-list">
	  <div *ngFor="let i of [].constructor(numberOfIngredients); let index = index" class="ingredient-row">
		<app-ingredient-list
		  [limitIngredients]="ingredients"
		  [selectedIngredient]="ingredients[index]"
		  (ingredientSelected)="onIngredientSelected($event, index)">
		</app-ingredient-list>
		<input
		type="text"
		[(ngModel)]="quantity[index]"
		(blur)="onBlurQuantity(index)"
		class="quantity-input"
		placeholder="to taste"

	  />
	  <button class="remove-ingredient-button" (click)="removeIngredient(index)" style="color: red; margin-left: 10px;">X</button>
	  </div>
	</div>
  
	<!-- Pulsante per aggiungere ingredienti -->
	<button class="add-ingredient-button" (click)="addIngredient()" [disabled]="!isLastIngredientValid() || numberOfIngredients >= 15">
	  Add ingredient
	</button>

	<div class="drink-details">
		<label for="drinkName">Drink Name:</label>
		<input
		  id="drinkName"
		  type="text"
		  [(ngModel)]="newcocktail.drink.strDrink"
		  class="drink-input"
		  placeholder="Enter the name of the drink"
		  (blur)="checkDrinkName(newcocktail.drink.strDrink)"
		/>
		<span *ngIf="drinknameMessage" [style.color]="drinknameAvailable ? 'green' : 'red'">
			{{ drinknameMessage }}
		  </span>

		<label for="drinkCategory">Category:</label>
		<select id="drinkCategory" [(ngModel)]="newcocktail.drink.strCategory" class="drink-select">
			<option *ngFor="let category of categories" [value]="category">{{ category }}</option>
		</select>

		<label for="drinkAlcoholic">Type of drink:</label>
		<select id="drinkAlcoholic" [(ngModel)]="newcocktail.drink.strAlcoholic" class="drink-select">
			<option value="Alcoholic">Alcoholic</option>
			<option value="Non alcoholic">Non alcoholic</option>
			<option value="Optional alcohol">Optional alcohol</option>
		</select>

		<label for="drinkGlass">Glass type:</label>
		<select id="drinkGlass" [(ngModel)]="newcocktail.drink.strGlass" class="drink-select">
			<option *ngFor="let glass of glasses" [value]="glass">{{ glass }}</option>
		</select>
		
		<label for="drinkInstructions">Instructions:</label>
		<textarea
		  id="drinkInstructions"
		  [(ngModel)]="newcocktail.drink.strInstructionsZH_HANS"
		  class="drink-textarea"
		  placeholder="Enter the instructions to prepare the drink"
		></textarea>
	  </div>
	  <button class="add-ingredient-button" (click)="saveCocktail()" [disabled]="!isValid()" > Save cocktail</button>

  </div>