<br>
<div class="cocktail-container">
	<div class="mode-buttons">
		<button (click)="setMode('mix')">public</button>
		<button (click)="setMode('mix')">private</button>
	  </div>
	  <div class="mode-buttons">
		<button (click)="setMode('mix')">use your phote</button>
		<button (click)="setMode('mix')">use generate photo</button>
	  </div>
	<!-- Display del colore -->
	<div class="color-display">
	  <!-- Sfondo del colore -->
	  <div *ngIf="mode === 'mix'" class="mix-colors" [style.background]="getGradient()"></div>
	  <div *ngIf="mode === 'shake'" class="shake-color" [style.background-color]="getMixedColor()"></div>
  
	  <!-- Immagine del bicchiere -->
	   <br>
	  <div class="glass-mask">
		<img src="assets/image-glass.png" alt="Glass" class="glass-overlay" />
	  </div>
	</div>
  
	<!-- Pulsanti per cambiare modalità -->
	<div class="mode-buttons">
	  <button (click)="setMode('mix')">Mix</button>
	  <button (click)="setMode('shake')">Shake</button>
	</div>
  
	<!-- Selezione degli ingredienti -->
	<h3>Seleziona gli ingredienti:</h3>
	<div class="ingredients-list">
	  <div *ngFor="let i of [].constructor(numberOfIngredients); let index = index">
		<app-ingredient-list
		  [limitIngredients]="ingredients"
		  (ingredientSelected)="onIngredientSelected($event, index)">
		</app-ingredient-list>
	  </div>
	</div>
  
	<!-- Pulsante per aggiungere ingredienti -->
	<button class="add-ingredient-button" (click)="addIngredient()" [disabled]="numberOfIngredients >= 15">
	  Aggiungi Ingrediente
	</button>
	<br>
		<h3>
			istruction:
		</h3>
		<textarea [(ngModel)]="newcocktail.drink.strInstructionsZH_HANS"></textarea>
  </div>