<app-background></app-background>
<h2>Update Settings</h2>
<br>
<form (ngSubmit)="submitForm()">
  <p>Name: <input type="text" [(ngModel)]="newUserdata.name" name="name" /></p>
  <app-username [user]="newUserdata" (userSelected)="usernameAvailable = $event"></app-username>
  <p>Password: <input type="password" [(ngModel)]="newUserdata.password" name="password"></p>
  <p>
    Email: 
    <input 
      type="email" 
      placeholder="Enter your email"
      [(ngModel)]="newUserdata.email" 
      name="email" 
      (input)="validateEmail()" 
      #emailInput="ngModel" 
    />
    <span *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">
      Please enter a valid email.
    </span>
    <span *ngIf="emailErrorMessage" style="color: red;">
      {{ emailErrorMessage }}
    </span>
  </p>
  <app-age (DateSelected)="newUserdata.birthDate = $event"></app-age>
  <app-country (countrySelected)="newUserdata.country = $event"></app-country>
  <p>City: <input type="text" [(ngModel)]="newUserdata.city" name="city"></p>

  <label for="imgUpload">Upload Image:</label>
  <input type="file" id="imgUpload" (change)="onFileSelected($event)" accept="image/*" />

  <div class="inline-container">
    No-Alcohol mode
    <app-slide-button [(isActive)]="newUserdata.canDrinkAlcohol"></app-slide-button>
  </div>

  <button type="submit">Save Changes</button>
</form>

