@import './assets/red-ban.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background: linear-gradient(to bottom, #f3f70f, #db1f1f);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

ice-cube {
  --ice-cube-color: #641641;
  --ice-cube-border-color: #1c0e5e;
  --ice-cube-border-radius: 8px;
  --ice-cube-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ice-cube::part(cube) {
  background-color: var(--ice-cube-color);
  border: 1px solid var(--ice-cube-border-color);
  border-radius: var(--ice-cube-border-radius);
  box-shadow: var(--ice-cube-shadow);
}

ice-cube:nth-child(1) {
  top: 10%;
  left: 20%;
}

ice-cube:nth-child(2) {
  top: 50%;
  left: 40%;
}

ice-cube:nth-child(3) {
  top: 80%;
  left: 70%;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
